[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

tweepy = "*"
bottle = "*"
"Jinja2" = "*"
peewee = "*"
Beaker = "*"
bottle-utils-flash = "*"
pytest = "*"
