<!DOCTYPE html>
<html lang="ja">
<head>
{% block head %}
  <link rel="stylesheet" href="style.css" />
  <title>{% block title %}{% endblock %} - Poco</title>
  {% block css %}
  <link rel="stylesheet" href="/static/bulma.css"  type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/main.css" type="text/css" />
  {% endblock %}
{% endblock %}
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item is-brand" href="/home"><strong>Poco</strong></a>
      </div>
      <span class="nav-item">
        <a class="button is-primary" href="/import">
          <span class="icon">
            <i class="fa fa-upload" aria-hidden="true"></i>
          </span>
          <span>Import CSV</span>
        </a>
      </span>
    </nav>
  </header>
  <div id="content" class="container">{% block content %}{% endblock %}</div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Poco</strong> by <a href="http://twitter.com/kk6">kk6</a>.
        </p>
        <p>
          <a class="icon" href="https://github.com/kk6/poco">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</body>
</html>
