<!DOCTYPE html>
<html lang="ja">
<head>
{% block head %}
  <link rel="stylesheet" href="style.css" />
  <title>{% block title %}{% endblock %} - Poco</title>
  {% block css %}
  <link rel="stylesheet" href="/static/bulma.css"  type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/main.css" type="text/css" />
  {% endblock %}
{% endblock %}
</head>
<body>
  <header class="header"></header>
  <div id="content" class="content">{% block content %}{% endblock %}</div>
  <div id="footer" class="footer">
    {% block footer %}
    &copy; Copyright 2016 by <a href="http://twitter.com/kk6/">kk6</a>.
    {% endblock %}
  </div>
</body>
</html>
