{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <a href="import">Import CSV</a>
  <h1>Hello {{ user.screen_name }}!</h1>
  <form>
    <p>
      <input type="radio" name="sort_by" value="like" checked="checked" />Likes
      <input type="radio" name="sort_by" value="retweet" checked="checked" />RTs
    </p>
    <label>From: <input type="date" name="from_date" /></label>
    <label>To: <input type="date" name="to_date" /></label>
  </form>
  <div>
    {% for data in data_list %}
      {{ data.oembed.html }}
    {% else %}
      <p>Data not found yet.</p>
    {% endfor %}
  </div>
{% endblock %}
